<div class="sidebar">
    <div class="sidebar-header">
      <h3>Navigation</h3>
      <button (click)="toggleSidebar()">&#9776;</button>
    </div>
  
    <ul class="sidebar-menu" [class.collapsed]="isCollapsed">
      <li *ngFor="let item of menuItems" (click)="toggleSubMenu(item)">
        <span>{{ item.title }}</span>
        <span *ngIf="item.subMenu">&#x25BC;</span>
        <ul class="sub-menu" *ngIf="item.subMenu && item.isOpen">
          <li *ngFor="let subItem of item.subMenu">{{ subItem }}</li>
        </ul>
      </li>
    </ul>
</div>