<div id="map" style="height: 100vh;"></div>

 Floating Button
<button class="floating-btn" (click)="toggleMenu()">☰</button>

<div id="menu" *ngIf="isMenuVisible">
  <h4>Menu</h4>
  <ul>
    <li><a href="#" (click)="loadStaticData($event)">Static Data</a></li>
    <li><a href="#" (click)="removeStaticMarkers($event)">Remove Static Data</a></li>
    <li><a href="#" (click)="loadDynamicData($event)">Dynamic Data</a></li>
    <li><a href="#" (click)="removeDynamicMarkers($event)">Remove Dynamic Data</a></li>
  </ul>
</div>